{% extends 'base.html'%}


{%block content%}
<div class="row">
  {%for post in posts [::-1]%}

  <div class="col-md-8">
        <!-- Card -->
        <h3>{{legend}}</h3>
    <div class="card card-cascade wider reverse">
      <div class="card-image">
        <img class="img-thumbnail img-rounded" src="{{url_for('static',filename = post.author.profile_pic_path)}}" alt="">
      </div>

    

      <!-- Card content -->
      <div class="card-body card-body-cascade text-center">

        <!-- Title -->
        <h4 class="card-title"><strong>{{post.title}}</strong></h4>
        <!-- Subtitle -->
        <h6 class="font-weight-bold indigo-text py-2">Name: {{post.author.username}}</h6>
        <!-- Text -->
        <p class="card-text">{{post.post}}
        </p>
        <a href="{{url_for('main.new_comment', post_id =post.id)}}"><button class="btn btn-unique">Add Comment</button></a>
        <a href="{{url_for('main.update_post',post_id = post.id)}}"><button class="btn btn-blue-grey">Update</button></a>
        <a href="{{url_for('main.delete_blog',post_id=post.id)}}"><button class="btn btn-elegant">Delete</button></a>


      </div>

    </div>
    <!-- Card -->
  </div>

  {%endfor%}
  <div class="col-md-4">
    <!-- Card -->
<div class="card testimonial-card">

  <!-- Background color -->
  <div class="card-up indigo lighten-1"></div>

  <!-- Avatar -->
  <!-- <div class="avatar mx-auto white">
    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle"
      alt="woman avatar">
  </div> -->

  <!-- Content -->
  <div class="card-body">
    <!-- Name -->
    <h4 class="card-title">{{quote.author}}</h4>
    <hr>
    <!-- Quotation -->
    <p><i class="fas fa-quote-left"></i> {{quote.quote}}
    </p>
  </div>

</div>
<!-- Card -->

  </div>
</div>


{%endblock%}

